:root{
    --hole-size: 250px;
    --storage-size: 250px;
    --seed-size: calc(var(--hole-size)*.2);
}

html {
    height: 100%;
    overflow:hidden;
    margin: 0;
    background-color: black;
    color:white;
    font-family: consolas,sans-serif;
    background-image: url("textures/navbar.png");
    background-repeat: repeat;
}

.top-container{
    background: rgba(0, 0, 0,  0.5);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


canvas{
    position: fixed;
    z-index: 12;
}

.logo{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    margin: 0 auto;
    color: burlywood;
    font-size:64px;
}
 
.navbarButton{
    background-color: burlywood;
    color: black;
    border-radius: 5px;
    border: none;
    padding: 12px 28px;
    margin: auto;
}

.navbarButton:hover {
    color: black;
    background-color: white;
    transform: translateY(-2px);
}


.navbarButton:active {
    transform: translateY(2px);
}

.Instrucoes,
.Classificacoes{
    background-image: url("textures/menu.png");
    background-repeat: repeat; 
    background-color: gray;
    height: 40em;
    width: 40rem;
    border: 3px solid black;
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
.Classificacoes{ 
    white-space: pre;
    text-align: center;
}

.down-container{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.game{
    margin-top: 10%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.authentication{
    color:white;
}

.authentication li{
    list-style: none;
}

.logo{
    margin: 0 auto;
    color: burlywood;
    font-size:64px;
}

.player-turn{
    margin: 0 auto;
    color: white;
}

.winner{
    color: white;
    flex-direction: row;
    justify-content: center;
}

.commands{
    color: white;
    background-color: gray;
    width: 45vh;
    border-color: burlywood;
    border-radius: 10px;
}

.Configuracoes{
    background-image: url("textures/menu.png");
    background-repeat: repeat; 
    position: absolute;
    color: white;
    background-color: darkgray;
    width: 45vh;
    border-color: burlywood;
    border-radius: 10px;
    z-index: 1;
}
.Configuracoes li{
    font-size:18px;
    list-style: none;
}

.Configuracoes h2 {
    margin: 10px;
    font-size: 20px;
}

.down-countainer {
    display:flex;
    align-items: center;
}
.comandos{
   color: white;
   background-color: gray;
   border-radius: 30px;
   align-self: center;

}

.overlay {
    display:none;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.9);
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 5rem;    
}
.overlay.show{
    display: flex;
}

.gamestate {
    color: white;
}
.mancala {
    display: flex;
    flex-direction:column;
}
.opponent-row{
    display:flex;
}
.player-row{
    display:flex;
}
.seed{
    position:relative;
    background:brown;
    border-radius:50%;
    box-shadow: inset 10px 10px 10px rgba(0,0,0,0.2);
    width: 30px;
    height: 10px;
}


.hole{
    background: white;
    border-radius:50%;
    width: var(--hole-size);
    height: var(--hole-size);
    overflow-wrap: break-word;
    box-shadow: inset 14px 10px 10px rgba(0, 0, 0, 0.7);
}



/*renundante, perguntar ao professor UWU*/
.opponent-storage{
    background: white;
    border-radius:50%;
    width: var(--storage-size);
    height: var(--storage-size) - 50px;
    box-shadow: inset 14px 10px 10px rgba(0, 0, 0, 0.7);
    
}
.player-storage{
    background: white;
    border-radius:50%;
    width: var(--storage-size);
    height: var(--storage-size) - 50px;
    box-shadow: inset 14px 10px 10px rgba(0, 0, 0, 0.7);
}

/*autenticacao*/
.title{
    color: white;
    font-family: consolas,sans-serif;
    font-size: 50px;
    align-self: center;
    padding: 15px 20px;
}

.box{
    background-image: url("textures/menu.png");
    background-repeat: repeat; 
    display: flex;
    flex-direction:column;
    opacity: 0.9;
    background-color:darkgray;
    width: 500px;
    height: 500px;
    top: 20%;
    left: 40%;
    margin: 0;
    position: absolute;
    z-index: 1;
}
.buttons{
    margin: 80px 5px;
    display:flex;
    align-self: center;
}
.userInput{
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: consolas,sans-serif;
    
}
button {
    background-color: white;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 2px 2px;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    user-select: none;
  }
  
  button:hover {
    background-color: gray;
  }

  input,select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .game-over-message{
      color:white;
  }